/*--- FONT ---*/

@font-face {
    font-family: 'sertig';
    src: url('font/Sertig.otf');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'blenda';
    src: url('font/Blenda Script.otf');
    font-weight: normal;
    font-style: normal;

}

/*--- ALL ---*/

body{
    margin: 0;
    font-family: 'sertig', sans-serif;
    font-size: 1.2em;
    color: #5a5a5a;
}

h1{
    font-family: 'blenda', sans-serif;
    margin: 0;
    color: white;
    font-weight: 400;
    font-size: 2.7em;
}

h2{
    color: white;
    font-weight: 400;
    margin: 8px 0 34px 0;
}

h3{
    margin: 0;
    padding: 11px 0 5px 0;
    text-align: center;
}

a{
    text-decoration: none;
    margin: 7px;
}

p, ul{
    margin:0;
    padding: 5px 0 5px 0;
}

li{
    list-style: none;
}

.button, input[type=submit]{
    font-family: 'sertig', sans-serif;
    font-size: 1em;
    background-color: #ffffff;
    border: 1px solid #5a5a5a;
    text-decoration: none;
    padding: 10px 15px 6px 15px;
    max-width: 150px;
    text-align: center;
    color: #5a5a5a;
}

.button:hover, input[type=submit]:hover{
    border-color: #00bcd4;
    color: #00bcd4;
}

.white{
    background-color: #ffffff;
}

.black{
    background-color: #5a5a5a;
    color: #ffffff;
}

.space{
    margin-bottom: 6px;
    padding: 12px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row{
    flex-direction: row;
}

.error{
    color : red;
}



/*--- HEADER ---*/

.header{
    background-image: url("img/Sans titre-1mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:400px;
}

.center{
    text-align: center;
}

header ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header li{
    border: 1px solid white;
    padding: 10px 36px 6px 36px;
    margin: 9px 0;
}

header li a {
    color: white;
    font-weight: 600;
}

header a{
    color: white;
}

header #menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 11px;
    color: white;
    font-weight: 600;
    max-width: 1000px;
    margin: auto;
}

#menu{
    cursor:  pointer;
}

header i{
    padding: 0 15px;
}

header .button{
    border: 1px solid #ffffff;
    padding: 10px 15px 6px 15px;
    text-transform: uppercase;
    color: #00bcd4;
}

/* CARD */

.empty{
    height: 26vh;
}

/*--- SECTIONS ---*/

.page{
    background-color: #f4f4f4;
    padding-top: 18px;
}

.section{
    width: 90%;
    margin: auto;
    padding-bottom: 16px;
}

/*section 2*/

.production{
    width: 100%;
    border: 3px solid #dcdcdc;
    height:58vw;
}

.production .info{
    background-image: url("img/testProduct.png");
    background-size: cover;
    color: white;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.production a{
    margin: 0;
}

.no-padding{
    padding: 0;
}

.choices{
    text-align: center;
}

.choices input{
    margin-top: 8px;
}

#P1{
    background-image: url("img/CaptureWebagency.png");
    background-size: cover;
}

#P2{
    background-image: url("img/captureofficetourisme.png");
    background-size: cover;
}

#P3{
    background-image: url("img/Capturesiteperso.png");
    background-size: cover;
}

#P4{
    background-image: url("img/captureappvelo.png");
    background-size: cover;
}

#P5{
    background-image: url("img/captureappvelo.png");
    background-size: cover;
}

.section1 > div:nth-child(4){
    justify-content: center;
}

/*--- SECTION 3 ---*/

.section3 form .space,.log form .space , footer .space{
    margin-bottom: 0;
}

.infos{
    text-align: center;
}

/*--- ICONS ---*/

.icon{
    padding-left: 8px;
    padding-right: 8px;
}

.iconCenter{
    text-align: center;
}

.section3 textarea{
    height: 100px;
    width: 230px;
}

/*--- LOGIN ---*/

.login{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.log{
    background-color: #f4f4f4;
}

/*--- FOOTER ---*/

footer a{
    color: #ffffff;
    font-family: 'sertig', sans-serif;
}

footer div{
    margin: 12px 0;
}

footer a:hover{
    color: #00bcd4;
}

footer{
    padding: 12px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.footerGithub{
    display: flex;
    align-items: baseline;
}

.footerGithub i{
    padding: 9px;
}

@media (min-width: 736px){
    .header {
        background-image: url('img/testbackgtound.png');
        background-position: right bottom;
    }
    input[type=email], input[type=text], input[type=url], input[type=password]{
        width: 278px;
    }
    .section3 textarea {
        height: 149px;
        width: 327px;
    }
    p{
        text-align: center;
    }
    .header{
        height: 63vh;
    }
    .empty{
        height: 36vh;
    }

}

@media (min-width: 1000px){
    .product{
        height: 289px;
        width: 444px;
    }
    .production, .production .info{
        max-width: 444px;
        max-height: 281px;
    }
    .production .info{
        font-size: 1.3em;
        height: 100%
    }
    .rowProduct{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .section{
        max-width: 1000px;
    }
    .header{
        max-width: 1920px;
        max-height: 1280px;
        margin: auto;
    }
    header{
        background-color: #f4f4f4;
    }
    .empty{
        height: 31vh;
    }
}
