/*--- FONT ---*/

@font-face {
    font-family: 'sertig';
    src: url('font/Sertig.otf');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'blenda';
    src: url('font/Blenda Script.otf');
    font-weight: normal;
    font-style: normal;

}

/*--- ALL ---*/

body{
    margin: 0;
    font-family: 'sertig', sans-serif;
    font-size: 1.2em;
    color: #5a5a5a;
}

h1{
    font-family: 'blenda', sans-serif;
    margin: 0;
    font-weight: 400;
    font-size: 2.7em;
}

h2{
    font-weight: 400;
    margin: 8px 0 34px 0;
}

h3{
    margin: 0;
    padding: 11px 0 5px 0;
    text-align: center;
}

a{
    text-decoration: none;
    margin: 7px;
}

p, ul{
    margin:0;
    padding: 5px 0 5px 0;
}

li{
    list-style: none;
}

.button, input[type=submit]{
    font-family: 'sertig', sans-serif;
    font-size: 1em;
    background-color: #ffffff;
    border: 1px solid #5a5a5a;
    text-decoration: none;
    max-width: 150px;
    text-align: center;
    color: #5a5a5a;
    padding: 11px 27px 11px 27px;
    cursor: pointer;
}

.button:hover, input[type=submit]:hover{
    border-color: #00bcd4;
    color: #00bcd4;
}


.white{
    background-color: #ffffff;
}

.black{
    background-color: #5a5a5a;
    color: #ffffff;
}

.space{
    margin-bottom: 6px;
    padding: 12px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.presentation{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin-top: 12px;
    text-align: center;
}

.list-diplomes li{
    padding: 5px 0;
}

.row{
    flex-direction: column;
}

.error{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 80%;
}

.success{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    width: 80%;
}

.portrait{
    border-radius: 6px;
    height: 230px;
    width: 230px;
}

.portrait:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.presentation .row{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*--- HEADER ---*/

.header{
    background-image: url("img/headermobile.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height:440px;
}

.center{
    text-align: center;
}

header ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header li{
    margin: 20px 0;
    border: 1px solid #5a5a5a;
    padding: 10px 36px 6px 36px;
    font-weight: 600;
    color: #5a5a5a;
}

header li:hover{
    background-color: #5a5a5a;
     color: #00bcd4;
    cursor: pointer;
 }

header #menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 11px;
    font-weight: 600;
    max-width: 1000px;
    margin: auto;
}

#menu{
    cursor:  pointer;
}

header i{
    padding: 0 15px;
}

header .button{
    background-color: #5a5a5a;
    padding: 10px 15px 6px 15px;
    text-transform: uppercase;
    color: #ffffff;
    margin: auto;
}

header .button:hover{
    border-color: #5a5a5a;
}

header h1:hover, header h2:hover{
    cursor: pointer;
}

/* CARD */

.card img{
    border: 3px solid rgba(128, 128, 128, 0.2);
}

.empty{
    height: 26vh;
}

/*--- SECTIONS ---*/

.page{
    background-color: #f4f4f4;
    padding-top: 18px;
}

.section{
    width: 90%;
    margin: auto;
    padding-bottom: 16px;
}

.section2, .section3{
    margin-top: 20px;
}

/*section 2*/

.nameProduct{
    font-weight: 600;
}

.card {
    transition: 0.3s;
    max-width: 372px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
    margin-top: 12px;
}

.container p{
    text-align: center;
}

.choices{
    text-align: center;
}

.choices input{
    margin-top: 8px;
}

.section1 > div:nth-child(4){
    justify-content: center;
}

.section1 > div:nth-child(6) p:hover{
    color: #00bcd4;
    border-color: #00bcd4;
    transition: none;
}

.section1 > div:nth-child(6) p{
    margin: 12px 0;
}

/*--- SECTION 3 ---*/

.section3 form .space,.log form .space , footer .space{
    margin-bottom: 0;
}

.infos{
    text-align: center;
}

form input[type=text],form input[type=email],form input[type=password],form input[type=url], textarea{
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 12px 20px;
    font-family: 'sertig', sans-serif;
    font-size: 1em;

}

/*--- ICONS ---*/

.icon{
    padding-left: 8px;
    padding-right: 8px;
}

.responsive img{
    width: 100%;
}

.section3 textarea{
    height: 100px;
    width: 230px;
}

/*--- LOGIN ---*/

.login{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.log{
    background-color: #f4f4f4;
}

/*--- FOOTER ---*/

footer a{
    color: #ffffff;
    font-family: 'sertig', sans-serif;
}

footer div{
    margin: 12px 0;
}

footer a:hover{
    color: #00bcd4;
}

footer{
    padding: 12px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.footerGithub{
    display: flex;
    align-items: baseline;
}

.footerGithub i{
    padding: 9px;
}

/*--- SCROLL MAGIC ---*/

.fade, .fade2, .fade3, .fade4, .fade5{
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease-out;
}

.fade.fade-in, .fade2.fade-in2, .fade3.fade-in3, .fade4.fade-in4, .fade5.fade-in5{
    opacity: 1;
    transform: translateY(0);
}

/*--- PARALLAX ---*/

.bcg-parallax{
    position: relative;
    height:300px;
    background: url("img/parallax1.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.second-parallax{
    height: 300px;
    background: url("img/parallax2.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*--- FILTER ---*/

.all-filter{
    flex-direction: row;
    justify-content: center;
    font-variant: all-small-caps;
    font-size: 1.1em;
}

.all-filter span{
    padding:0 12px;
    cursor:  auto;

}

.all-filter p{
    cursor:  pointer;
    padding-bottom: 0;
}

.no-filter{
    display: none;
}

.css-filter{
    display: flex;
}

.active{
    border-bottom: 1px solid #00bcd4;
}

/*--- LEGAL ---*/

.mlegal p{
    text-align: justify;
}

.mlegal div h2 {
    color: #5a5a5a;
}

/*--- TOP BUTTON ---*/

.top{
    display: none;
}

@media (min-width: 736px){
    .header {
        background-image: url('img/header.jpg');
        background-position: right bottom;
    }
    input[type=email], input[type=text], input[type=url], input[type=password]{
        width: 278px;
    }
    .section3 textarea {
        height: 149px;
        width: 327px;
    }
    p{
        text-align: center;
    }
    .header{
        height: 63vh;
    }
    .empty{
        height: 36vh;
    }
    .presentation{
        flex-direction: row;
    }
    .row{
        flex-direction: row;
    }
    .responsive img{
        width: 350px;
    }
    .rowProduct{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .top{
        width: 40px;
        height: 40px;
        background-color: rgba(0, 0, 0, 0.25);
        position: fixed;
        border-radius: 40px;
        top: 90vh;
        left: 94vw;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 2;
    }
    .top:hover{
        background-color: rgba(0, 0, 0, 0.14);
        color: #00bcd4;
        transition: none;
    }
}

@media (min-width: 1000px){
    .section{
        max-width: 1000px;
    }
    .header{
        max-height: 1280px;
        margin: auto;
    }
    header{
        background-color: #f4f4f4;
    }
    .empty{
        height: 31vh;
    }
    .presentation{
        width: 700px;
    }
}
