{% extends 'website.twig' %}

{% block contact %}
    <form class="formContact" method="post" action="index.php?action=sendContact">
    <div class="space white name">
        <label>Votre nom : </label><input type="text" name="name" id="name" placeholder=""/>
    </div>
    <div class="space white email">
        <label>Votre email : </label><input type="email" name="email" id="email" placeholder=""/>
    </div>
    <div class="space white object">
        <label>Sujet de votre message : </label><input type="text" name="object" id="object" placeholder=""/>
    </div>
    <div class="space white">
        <label>Votre message : </label>
        <textarea name="mail" id="mail" class="article"></textarea>
    </div>
    <div class="space white">
        <input class="button" type="submit" value="Contacter" />
    </div>
    </form>
    <div id="messages" class="space white"></div>
{% endblock %}


