{% extends 'header.twig' %}

{% block footer %}

    <footer class="black">
        <a class="footerGithub" href="https://github.com/delettrea" target="_blank"><i class="fa fa-github-square gitHub" aria-hidden="true"></i><p>delettrea</p></a>
        <p>2017 <a href="index.php">Aline Delettre</a> - <a href="index.php?action=ml">Mentions légales</a>-
        {% if session == false %}
        <a class='' href='index.php?action=login'>Espace d'administration</a>
        {% endif %}
        {% if session %}
            Bienvenue sur la page d'administration du site - <a class="" href="index.php?action=logout">Se déconnecter</a>
        {% endif %}
        </p>
    </footer>
{% endblock %}