{% extends 'contact.twig' %}

{% block header %}
    <header>
        <div class="header center">
            <div id="menu">
                <p>Menu</p><i class="fa fa-bars" aria-hidden="true"></i>
            </div>
            <nav id="nav">
                <ul>
                    <li><a href="index.php#section1">Présentation</a></li>
                    <li><a href="index.php#section2">Réalisations</a></li>
                    <li><a href="index.php#section3">Contact</a></li>
                </ul>
            </nav>
            <div class="empty"></div>
            <div>
                <h1><a href="index.php#section1">Aline Delettre</a></h1>
                <h2><a href="index.php#section2">développeuse web</a></h2>
                <a href="index.php#section1" class="button">Voir le site</a>
            </div>
        </div>
    </header>
{% endblock %}