{% block header %}{% endblock %}

{% block contain %}
<div class="page">
        <section class="section section1">
            <div class="space white">
                <h3>Présentation</h3>
            </div>
            <div class="space white">
                <div class="presentation">
                    <img class="portrait" src="https://avatars1.githubusercontent.com/u/29575195?v=4&s=460" alt="portrait">
                    <div class="row">
                <p>Jeune femme dynamique passionnée d'informatique.<br>Je suis étudiante sur Openclassrooms en Développement Web.</p>
                <a href="https://github.com/delettrea" target="_blank" class="button"><i class="fa fa-github" aria-hidden="true"></i> mon GitHub</a>
                    </div>
                    </div>
            </div>
            <div class="space white">
                <p>Mes diplômes</p>
                <ul class="list-diplomes">
                    <li>Licence de Philosohpie</li>
                    <li id="fade" >Licence d'Adminsitration Publique</li>
                    <li>Baccalauréat économique et social</li>
                </ul>
            </div>
            <div class="space white row">
                <p>
                    Je travaille principalement sous les distributions GNU/linux Debian et Manjaro.
                    <br>J’ai testé de nombreuses distributions que j'utilise plus rarement comme Archlinux, Ubuntu ou encore Fedora.
                </p>
                <i class="icon fa fa-linux  fa-2x" aria-hidden="true"></i>
            </div>
            <div class="space white row">
                <p>
                    Tous mes sites web sont responsives, c'est-à-dire que l'on peut les utiliser sur toutes les plateformes du pc au téléphone mobile.
                </p>
                <div class="responsive">
                    <img class="fade" src="img/imac-1999636_19221.png" alt="responsive">
                </div>
            </div>
            <div class="space white fade">
                <a href="" class="button fade">Voir mes réalisations</a>
                <a href="" class="button fade">Prendre contact</a>
            </div>
        </section>
        <div class="bcg-parallax fade" data-stellar-background-ratio="0.5">
        </div>
        <section class="section section2 fade skewedBox">
            <div class="space white">
                <h3>Réalisations</h3>
            </div>
            <div class="space white">
                <form class="formProduct" method="post" action="index.php?action=test">
                    <input class="choice" type="radio" name="filter" value="all" id="all" /><label for="all"> Tout voir</label>
                    <input class="choice" type="radio" name="filter" value="html" id="html" /><label for="html"> html</label>
                    <input class="choice" type="radio" name="filter" value="css" id="css" /><label for="css"> css</label>
                    <input class="choice" type="radio" name="filter" value="js" id="javaScript" /><label for="javaScript"> Java Script</label>
                    <input class="choice" type="radio" name="filter" value="php" id="php" /><label for="php"> PHP</label>
                    <input class="submitFilter" type="submit" value="Envoyer" />
                </form>
            </div>
            <div class="rowProduct"></div>
                {% if session %}
                    <div class="space white">
                        <h3>Administration des réalisations</h3>
                    </div>
                    {% block seeNewProduction %}{% endblock %}
                    {% block seeEditProduction %}{% endblock %}
                {% endif %}
        </section>
    <div class="second-parallax fade" data-stellar-background-ratio="0.5">
    </div>
        <section class="section section3">
            <div class="space white">
                <h3>Contact</h3>
            </div>
            {% block contact %}{% endblock %}
        </section>
    </div>
{% endblock %}
{% block footer %}{% endblock %}
