{% include 'header.twig' %}
{% block contain %}
<div class="page">
        <section id="section1" class="section section1">
            <div class="space white">
                <h3>Présentation</h3>
            </div>
            <div class="space white">
                <div class="presentation">
                    <img class="portrait" src="https://avatars1.githubusercontent.com/u/29575195?v=4&s=460" alt="portrait">
                    <div class="row">
                <p>Dynamique et passionnée d'informatique.<br>Je suis étudiante sur Openclassrooms en Développement Web.</p>
                <a href="https://github.com/delettrea" target="_blank" class="button"><i class="fa fa-github" aria-hidden="true"></i> mon GitHub</a>
                    </div>
                    </div>
            </div>
            <div class="space white">
                <p>Mes diplômes</p>
                <ul class="list-diplomes fa-ul">
                    <li><i class="fa-li fa fa-graduation-cap"></i>Licence de Philosohpie</li>
                    <li  id="fade" ><i class="fa-li fa fa-graduation-cap"></i>Licence d'Adminsitration Publique</li>
                    <li><i class="fa-li fa fa-graduation-cap"></i>Baccalauréat économique et social</li>
                </ul>
            </div>
            <div class="space white row">
                <p>
                    Je travaille principalement sous les distributions GNU/linux Debian et Manjaro.
                    <br>J’ai testé de nombreuses distributions que j'utilise plus rarement comme Archlinux, Ubuntu ou encore Fedora.
                </p>
                <i class="icon fa fa-linux  fa-2x" aria-hidden="true"></i>
            </div>
            <div class="space white row">
                <p>
                    Tous mes sites web sont responsives, c'est-à-dire que l'on peut les utiliser sur toutes les plateformes du pc au téléphone mobile.
                </p>
                <div class="responsive">
                    <img class="fade" src="img/imac-1999636_19221.jpg" alt="responsive">
                </div>
            </div>
            <div class="space white fade">
                <p class="toSection2 button fade">Voir mes réalisations</p>
                <p class="toSection3 button fade">Prendre contact</p>
            </div>
        </section>
        <div id="fade2" class="bcg-parallax">
        </div>
        <section id="fade3" class="section section2 skewedBox">
            <div id="section2" class="space white fade2">
                <h3>Réalisations</h3>
            </div>
            <div class="all-filter space white fade2">
                <p class="test-filter" id="html">html</p><span class="separation">/</span><p class="test-filter" id="css">css</p><span class="separation">/</span>
                <p class="test-filter" id="javascript">JavaScript</p><span class="separation">/</span><p class="test-filter" id="php">php</p><span class="separation">/</span>
                <p class="test-filter" id="all">all</p>
            </div>
            <div class="rowProduct">
                {% include 'production.twig' %}
            </div>
                {% if session%}
                    <div class="space white">
                        <h3>Administration des réalisations</h3>
                    </div>
                    {% include 'adminProduction.twig' %}
                {% endif %}
        </section>
    <div id="fade4"class="second-parallax">
    </div>
        <section id="section3" class="section section3 fade4">
            <div id="fade5" class="space white fade4">
                <h3>Contact</h3>
            </div>
            {% include 'contact.twig' %}
        </section>
    </div>
{% endblock %}
{% include 'footer.twig' %}
